models/*.h5 filter=lfs diff=lfs merge=lfs -text
models/*.weights filter=lfs diff=lfs merge=lfs -text
models/*.names filter=lfs diff=lfs merge=lfs -text
models/*.cfg filter=lfs diff=lfs merge=lfs -text
*.models filter=lfs diff=lfs merge=lfs -text
models/* filter=lfs diff=lfs merge=lfs -text
models/arecanut_classifier.h5 filter=lfs diff=lfs merge=lfs -text
models/coco.names filter=lfs diff=lfs merge=lfs -text
models/yolov3.cfg filter=lfs diff=lfs merge=lfs -text
models/yolov3.weights filter=lfs diff=lfs merge=lfs -text
